<!doctype html>
<html lang="en">
    <head>
        <!-- Only difference between base_title.html and base.html -->
        {% include header.html %}
        {% seo %}
        <!-- Mercury is a web-parser, ignoring... -->
        <link rel="amphtml" href="https://mercury.postlight.com/amp?url={{ site.url }}{{ post.url }}">
    </head>
    <body>
        <!-- Bootstrap requires a containing element to wrap site contents and house our grid system. -->
        <div class="container">
            <div class="row">
                {% include navside.html %}
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 aside3">
                    <div id="container">
                        <div id="pjax">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include googleanalytics.html %}
        {% include afs-analytics.html %}
    </body>
</html>